@import "./variables.scss";

.checkout-page{
    background-color: black;
    padding: 100px;
    font-weight: bold;
}
.cart-resume{
    max-height: 400px;
    min-height: 400px;
    overflow-y: scroll;
}
.cart-resume > div {
    background-color: peru;
}
.btn-checkout{
    padding: 5px 10px 5px 10px;
    background-color: $primary;
    color: $secondary;
    border: none;
    border-radius: 20px;
}
.item-quantity-cont{
    background-color: $secondary;
    padding: 2px 5px 2px 5px;
    border-radius: 20%;
}
.col-md-5{
    background-image: url("../assets/img/thanks.png");
    background-position:center;
    background-size:contain;
    background-repeat: no-repeat;
}
.speechBubble{
    padding-top: 5px;
    text-align: end;
    min-height: 60px;
}
.pp{
    position: relative;
    font-size: 20px;
    color: white;
    -webkit-text-stroke: 1px black;
}
.pp::before{
    content: attr(data-text);
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    color: $primary;
    -webkit-text-stroke: 1px $primary;
    overflow: hidden;
    animation: animate 6s linear infinite;
}
@keyframes animate
{
    0%,10%,100%
    {
        width: 0;
    }
    70%,90%
    {
        width: 100%;
    }
}
//vecchio
.container-list-group > .list-group {
    border-radius: 20px;
}
.container-list-group > .list-group > .list-group-item {
    background-color: $tertiary;
}
.btn-submit{
    background-color: $tertiary;
    color: $primary;
}
ul,ol
{
    list-style: none;

    li
    {
        padding: 10px;
        color: rgb(0, 0, 0);
    }
}

.add-btn{
    background-color: $secondary;
    margin-top: 30px;
    border: none;
    border-radius: 20px;
}
#plates-list{
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 100px;
}
.badge{
    background-color: $secondary;
    color: $primary;
    font-size: 1.2em;
}