@import "./variables.scss";
*{
    border: none;
}
h1{
    color: $primary;
}
.checkout-page{
    background-color: $tertiary;
    padding: 100px;
    font-weight: bold;
}
.checkout-page > div{
    background-color:$tertiary;
}
.cart-resume{
    max-height: 400px;
    min-height: 400px;
    overflow-y: scroll;
    padding-left: 60px;
    padding-right: 60px;
}
.cart-resume > div {
    background-color: $primary;
    color: $secondary;
    border-radius: 20px;
    width: 100%;
}
.cart-resume > div > .d-flex > span > p {
    font-size: 20px;
}
.btn-checkout{
    width: 40px;
    padding: 5px 10px 5px 10px;
    background-color: $secondary;
    color: $primary;
    border: none;
    border-radius: 20px;
    font-weight: bold;
}
.btn-svuotaCarrello{
    padding: 5px 10px 5px 10px;
    background-color: $secondary;
    color: $primary;
    border: none;
    border-radius: 20px;
    font-weight: bold;
}
.btn-svuotaCarrello:hover{
    animation: loop;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}
.thanks-bg{
    margin-top: 100px;
    min-height: 400px;
    background-image: url("../assets/img/thanks.png");
    background-position:center;
    background-size:contain;
    background-repeat: no-repeat;
}
.speechBubble{
    padding-top: 5px;
    text-align: end;
    min-height: 60px;
}
.pp{
    position: relative;
    font-size: 20px;
    color: white;
    -webkit-text-stroke: 1px black;
}
.pp::before{
    content: attr(data-text);
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    color: $primary;
    -webkit-text-stroke: 1px $primary;
    overflow: hidden;
    animation: animate 6s linear infinite;
}
@keyframes animate
{
    0%,10%,100%
    {
        width: 0;
    }
    70%,90%
    {
        width: 100%;
    }
}
@keyframes loop {
    0%{
      transition: 3s;
    }
    50%{
      transition: 5s;
      background-color: $primary;
      color: $secondary;
    }
    0%{
        transition: 3s;
      }
  }
.braintree-container {
    background-color: $tertiary;
    color: $primary;
    border-radius: 20px;
    font-size: 20px;
}
.braintree-container > .mb-3:first-child{
    width: 400px;
    margin-left: 50px;
}
.btn-braintree {
    background-color: $secondary;
    color: $primary;
    font-weight: bold;
}
.btn-braintree:hover {
    animation: loop;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}
.cart-resume {
    --sb-track-color: #FF8732;
    --sb-thumb-color: #5f2802;
    --sb-size: 10px;
    }

    .cart-resume::-webkit-scrollbar {
    width: var(--sb-size)
    }

    .cart-resume::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 5px;
    }

    .cart-resume::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 5px;
    
    }

    @supports not selector(::-webkit-scrollbar) {
    .cart-resume {
        scrollbar-color: var(--sb-thumb-color)
                        var(--sb-track-color);
    }
    }
//vecchio
/*
.container-list-group > .list-group {
    border-radius: 20px;
}
.container-list-group > .list-group > .list-group-item {
    background-color: $tertiary;
}
.btn-submit{
    background-color: $tertiary;
    color: $primary;
}
ul,ol
{
    list-style: none;

    li
    {
        padding: 10px;
        color: rgb(0, 0, 0);
    }
}

.add-btn{
    background-color: $secondary;
    margin-top: 30px;
    border: none;
    border-radius: 20px;
}
#plates-list{
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 100px;
}
.badge{
    background-color: $secondary;
    color: $primary;
    font-size: 1.2em;
}
*/