.badge-counter {
  position: fixed;
  bottom: 90px;
  right: 55px;
  z-index: 5;
  background-color: $primary;
  color: $secondary;
  border: 1px solid $secondary;
  border-radius: 50%;
  padding: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  box-shadow: 0 1px 1px black;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265);
  animation: fadeIn 0.5s;
  visibility: visible;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.pop-up {
  cursor: pointer;
  font-weight: bold;
}